<!DOCTYPE html>
<html>
    <head>
        <title>404 Page</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <strong>Error:</strong> {{errorMsg}}
        {{>footer}}
    </body>
</html>